.mybtn {
    background-color: green !important;
    border-radius: 6px;
    color: red !important;
    padding: 30px;
}

.mybtn {
    background-color: red;
    border-radius: 6px;
    color: green;
    padding: 30px;
}

.mybtn:hover {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 50px;
}